name: Release MineDelta

on:
  push:
    tags:
      - 'minedelta-v*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
      - name: Build minedelta
        run: uv build
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels
          path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    environment: pypi-minedelta
    needs: build
    permissions:
      # Use to sign the release artifacts
      id-token: write
      # Used to upload release artifacts
      contents: write
      # Used to generate artifact attestation
      attestations: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: 'dist/*'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Publish to PyPI
        run: uv publish
        env:
          UV_PUBLISH_URL: https://test.pypi.org/legacy/
      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            dist/*
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
