name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - uses: astral-sh/setup-uv@v7
        with:
          prune-cache: false
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock
            NBTCompare/Cargo.lock
            NBTCompare/Cargo.toml
            NBTCompare/**/*.rs
      - name: run ruff
        run: uv run -v --no-editable ruff check --output-format=github
      - name: run mypy
        run: uv run mypy
      - name: run pytest
        run: uv run --no-editable pytest --cov --cov-report=xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
