name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - uses: astral-sh/setup-uv@v7
      - name: run ruff
        run: uv run --only-group lint ruff check --output-format=github
      - name: run mypy
        run: uv run mypy
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - uses: astral-sh/setup-uv@v7
      - name: run pytest
        run: uv run --only-group test pytest -Werror --cov --cov-report=xml -n auto
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
