name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: run ruff
        run: uv run -v ruff check --output-format=github
      - name: run mypy
        run: uv run mypy
      - name: run pytest
        run: uv run pytest --cov --cov-report=xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
